<a href="https://colab.research.google.com/github/SirineMaaroufi/Data-Analysis-by-Omar-Souissi/blob/main/Pandas_EtudeDeCas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import csv

In [ ]:
d = pd.read_csv('Cours_BTC2FEUR_-_Feuille_1.csv')

In [ ]:
d.head()

         Date                  Prix Variation 24h
0  2013-01-28  1 BTC = 13.05000000€            0%
1  2013-01-29  1 BTC = 13.20000000€         1.14%
2  2013-01-30  1 BTC = 13.79000000€         4.28%
3  2013-01-31  1 BTC = 14.56000000€         5.29%
4  2013-02-01  1 BTC = 14.75000000€         1.29%

In [ ]:
d.describe()

              Date                   Prix Variation 24h
count         1890                   1890          1890
unique        1890                   1855           986
top     2015-09-11  1 BTC = 104.00000000€         0.43%
freq             1                      3             9

In [ ]:
d.reindex(columns = ['Date','Variation 24h', 'Prix']).head()

         Date Variation 24h                  Prix
0  2013-01-28            0%  1 BTC = 13.05000000€
1  2013-01-29         1.14%  1 BTC = 13.20000000€
2  2013-01-30         4.28%  1 BTC = 13.79000000€
3  2013-01-31         5.29%  1 BTC = 14.56000000€
4  2013-02-01         1.29%  1 BTC = 14.75000000€

In [ ]:
d.sort_values(by = 'Prix')

            Date                    Prix Variation 24h
126   2013-06-03   1 BTC = 100.00000000€         0.43%
236   2013-09-21   1 BTC = 100.01000000€        -3.42%
221   2013-09-06   1 BTC = 100.10000000€        -7.14%
91    2013-04-29   1 BTC = 100.70000000€        -4.27%
242   2013-09-27   1 BTC = 100.73000000€         3.41%
1525  2017-04-02  1 BTC = 1006.92000000€         4.29%
119   2013-05-27   1 BTC = 101.00000000€        -0.99%
244   2013-09-29   1 BTC = 101.00000000€         2.18%
216   2013-09-01   1 BTC = 101.36000000€         6.01%
121   2013-05-29   1 BTC = 101.50000000€        -0.78%
256   2013-10-11   1 BTC = 101.51000000€         1.84%
231   2013-09-16   1 BTC = 101.98000000€        -2.77%
1526  2017-04-03  1 BTC = 1018.38000000€         1.13%
1486  2017-02-22  1 BTC = 1019.55000000€         2.74%
118   2013-05-26   1 BTC = 102.00000000€         5.88%
123   2013-05-31   1 BTC = 102.00000000€         2.16%
258   2013-10-13   1 BTC = 102.01000000€         -0.2%
259   2013-10-14   1 BTC = 102.10000000€         0.09%
257   2013-10-12   1 BTC = 102.21000000€         0.68%
120   2013-05-28   1 BTC = 102.29000000€         1.26%
248   2013-10-03   1 BTC = 102.40000000€        -0.38%
247   2013-10-02   1 BTC = 102.79000000€        -1.65%
232   2013-09-17   1 BTC = 102.96000000€         0.95%
67    2013-04-05   1 BTC = 102.99000000€        10.49%
1515  2017-03-23  1 BTC = 1024.58000000€         6.35%
1527  2017-04-04  1 BTC = 1028.39000000€         0.97%
234   2013-09-19   1 BTC = 103.33000000€        -1.39%
235   2013-09-20   1 BTC = 103.43000000€          0.1%
245   2013-09-30   1 BTC = 103.53000000€         2.44%
68    2013-04-06   1 BTC = 104.00000000€         0.97%
...          ...                     ...           ...
241   2013-09-26    1 BTC = 97.30000000€        -1.39%
224   2013-09-09    1 BTC = 97.81000000€          4.2%
1437  2017-01-04   1 BTC = 973.48000000€         2.77%
1773  2017-12-06  1 BTC = 9755.30000000€         2.48%
1482  2017-02-18   1 BTC = 979.32000000€         2.08%
84    2013-04-22    1 BTC = 98.15000000€         6.77%
237   2013-09-22    1 BTC = 98.50000000€        -1.53%
253   2013-10-08    1 BTC = 98.55000000€        -1.05%
240   2013-09-25    1 BTC = 98.65000000€        -0.55%
243   2013-09-28    1 BTC = 98.80000000€        -1.95%
238   2013-09-23    1 BTC = 98.98000000€         0.48%
1473  2017-02-09   1 BTC = 987.91000000€         3.46%
227   2013-09-12    1 BTC = 99.03000000€        -0.17%
239   2013-09-24    1 BTC = 99.19000000€         0.21%
226   2013-09-11    1 BTC = 99.20000000€         3.23%
222   2013-09-07    1 BTC = 99.30000000€        -0.81%
254   2013-10-09    1 BTC = 99.45000000€          0.9%
251   2013-10-06    1 BTC = 99.49000000€         5.42%
125   2013-06-02    1 BTC = 99.57000000€        -0.03%
252   2013-10-07    1 BTC = 99.58000000€         0.09%
124   2013-06-01    1 BTC = 99.60000000€        -2.41%
255   2013-10-10    1 BTC = 99.64000000€         0.19%
122   2013-05-30    1 BTC = 99.80000000€         -1.7%
1438  2017-01-05   1 BTC = 990.37000000€         1.71%
1474  2017-02-10   1 BTC = 990.85000000€          0.3%
1485  2017-02-21   1 BTC = 991.58000000€        -0.66%
1483  2017-02-19   1 BTC = 993.00000000€         1.38%
1511  2017-03-19   1 BTC = 994.87000000€        -8.43%
1774  2017-12-07  1 BTC = 9942.29000000€         1.88%
1484  2017-02-20   1 BTC = 998.12000000€         0.51%

[1890 rows x 3 columns]

In [ ]:
s1=d.Prix.apply(lambda x: x.replace("1 BTC = ",""))
d['Prix'] = pd.Series(s1, index = d.index)
d.head()

         Date          Prix Variation 24h
0  2013-01-28  13.05000000€            0%
1  2013-01-29  13.20000000€         1.14%
2  2013-01-30  13.79000000€         4.28%
3  2013-01-31  14.56000000€         5.29%
4  2013-02-01  14.75000000€         1.29%

In [ ]:
s2=d.Prix.apply(lambda x: x.replace("€",""))
d['Prix'] = pd.Series(s2, index = d.index)
d.head()

         Date         Prix Variation 24h
0  2013-01-28  13.05000000            0%
1  2013-01-29  13.20000000         1.14%
2  2013-01-30  13.79000000         4.28%
3  2013-01-31  14.56000000         5.29%
4  2013-02-01  14.75000000         1.29%

In [ ]:
d[['Prix']] = d[['Prix']].astype(float)

In [ ]:
d.sort_values(by = 'Prix')

            Date      Prix Variation 24h
0     2013-01-28     13.05            0%
1     2013-01-29     13.20         1.14%
2     2013-01-30     13.79         4.28%
7     2013-02-04     14.37        -5.08%
3     2013-01-31     14.56         5.29%
4     2013-02-01     14.75         1.29%
8     2013-02-05     14.76         2.64%
9     2013-02-06     15.02         1.73%
6     2013-02-03     15.10        -1.66%
10    2013-02-07     15.20         1.18%
5     2013-02-02     15.35         3.91%
11    2013-02-08     15.84         4.04%
12    2013-02-09     16.26         2.58%
13    2013-02-10     16.85          3.5%
14    2013-02-11     17.44         3.38%
15    2013-02-12     17.47         0.17%
16    2013-02-13     18.00         2.94%
18    2013-02-15     18.43        -1.52%
17    2013-02-14     18.71         3.79%
19    2013-02-16     20.12          8.4%
22    2013-02-19     20.18        -1.29%
20    2013-02-17     20.20          0.4%
23    2013-02-20     20.34         0.79%
21    2013-02-18     20.44         1.17%
24    2013-02-21     22.26         8.63%
25    2013-02-22     22.50         1.07%
26    2013-02-23     22.51         0.04%
29    2013-02-26     22.66        -0.09%
28    2013-02-25     22.68        -1.41%
27    2013-02-24     23.00         2.13%
...          ...       ...           ...
1793  2017-12-26  11887.31        -5.19%
1809  2018-01-11  12125.31        -4.06%
1798  2017-12-31  12247.68        -0.13%
1797  2017-12-30  12264.02        -6.71%
1802  2018-01-04  12319.79         7.54%
1810  2018-01-12  12427.96         2.44%
1792  2017-12-25  12503.76         5.09%
1808  2018-01-10  12618.13        -6.91%
1779  2017-12-12  12669.29        -0.22%
1778  2017-12-11  12697.71        -6.34%
1804  2018-01-06  12725.41        -0.48%
1803  2018-01-05  12786.04         3.65%
1790  2017-12-23  13009.24        -7.32%
1796  2017-12-29  13087.45        -1.31%
1795  2017-12-28  13259.28         11.5%
1807  2018-01-09  13490.26        -6.29%
1777  2017-12-10  13503.35       -11.43%
1782  2017-12-15  13651.18        -3.99%
1783  2017-12-16  13832.48         1.31%
1780  2017-12-13  13863.96         8.62%
1789  2017-12-22  13961.36        -7.38%
1805  2018-01-07  14183.30        10.28%
1781  2017-12-14  14196.48         2.34%
1806  2018-01-08  14338.58         1.08%
1784  2017-12-17  14879.76         7.04%
1788  2017-12-21  14992.29        -6.67%
1776  2017-12-09  15046.27         21.6%
1787  2017-12-20  15992.44            0%
1786  2017-12-19  15992.81         -2.4%
1785  2017-12-18  16376.30         9.14%

[1890 rows x 3 columns]

In [ ]:
d.to_pickle('d.pkl')